body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #B61E2E 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0px 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #B61E2E;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Dropdown Button */
.container_navbar {
    overflow: hidden;
    background-color: #35424a;
    font-family: Arial;
}

.container_navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
    background-color: #35424a;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #000000}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #35424a;
}

.button_randomize{
  height: 38px;
  background: #B61E2E;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

/* Showcase */
#showcase{
  min-height: 400px;
  background: url('../img/power.jpg') no-repeat 0 -400px;
  text-align: center;
  color: #000000;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}

#showcase_classes{
  color: #000000;
}

#showcase_classes h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 55px;
  margin-bottom: 10px;
}

#content {
  text-align: center;
  width: 294px;
  float: left;
  padding: 5px 15px;
}

#middle {
  text-align: center;
  width: 294px; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  text-align: center;
  width: 270px;
  padding: 5px 15px;
  float: left;
}

#manual_pagewrap {
  width: 880px;
  margin: 0 auto;
}

#psim_pagewrap {
  width: 1440px;
  margin: 0 auto;
}

#circuits {
  text-align: center;
}

/* newsletter */
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 120px;
  height: 120px;
}

/* Sidebar */
aside#sidebar{
  float: left;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar-home {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar-about {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col{
  float: right;
  width: 65%;
}

article#main-home {
  float: left;
  width: 65%;
}

article#main-about {
  float: left;
  width: 65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer{
  padding: 20px;
  clear: both;
  margin-top: 20px;
  color: #ffffff;
  background-color: #B61E2E;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
